/* Give your page a fun background color */
body {
    background-color: cornflowerblue;
    
}
/* Make the header and footer a different color from the background */
footer {
    background-color: lightgoldenrodyellow;
    border-color: floralwhite;
    padding: 3px;       
    
}
header {
    background-color: lightgoldenrodyellow;
    border-color: floralwhite;
    height: 50px;
}
/* Align the h1 containing your name in the center of the header*/
h1 { 
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: dimgrey;
    font-style: italic;
}
/* Put a border around your image */
img {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: gold;
    border-width: 5px;
    margin: 30px;
}

/* Change the font-family of your list */
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}